.search-result{
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width:193px;
  height: 20px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
}
.search-result:hover {
  background-color: #607d8b;
  cursor: pointer;
  color: #ccc;
}
#search-box{
  width: 200px;
  height: 20px;
}
